/* RESET */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* PROPERTIES */

:root {
    --font-size-0-5rem: 0.5rem;
    --font-size-1rem: 1rem;
    --font-size-1-5rem: 1.5rem;
    --font-size-2rem: 2rem;
    --font-size-2-5rem: 2.5rem;
    --font-size-3rem: 3rem;
    --font-size-3-5rem: 3.5rem;
    --font-size-4rem: 3.5rem;
    --bkg-color: #9792e4;
}


/* GENERIC */

body {
    padding-top: 120px;
    font-family: 'PT Sans', sans-serif;
}

img {
    display: block;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: white;
    font-size: var(--font-size-1-5rem);
}

section {
    padding: 0 var(--font-size-1-5rem);
}

h2 {
    text-align: center;
}


/* UTILITIES */

.container {
    max-width: 100%;
    margin: 0 auto;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.column-flex {
    display: flex;
    flex-direction: column;
}


/* HEADER */

header {
    background-color: #0084fd;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    color: white;
}

.fa-bars {
    font-size: var(--font-size-1-5rem);
}

header .container {
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.nav-bar {
    display: none;
}

header ul {
    list-style-type: none;
}

header .container > * {
    padding: 0 var(--font-size-2rem);
}

.nav-bar li {
    padding: 0 var(--font-size-1-5rem);
}


/* PRODUCT CONTENT */

#product-content .card {
    height: 400px;
    width: 100%;
    background-color: blue;
    border-radius: 20px;
}

#product-content .row {
    gap: 15px;
    padding-bottom: var(--font-size-4rem);
}

/* How we do */

#how-we-do, #benefits, #get-started {
    background-color: var(--bkg-color);
}

#how-we-do .card {
    height: 500px;
    background-color: yellow;
    border: 1px solid black;
    width: 100%;
}

/* TESTIMONIALS */

#testimonials .card {
    height: 400px;
    background-color: red;
    border: 1px solid black;
    border-radius: 20px;
}

#testimonials .column-flex {
    margin-top: var(--font-size-2-5rem);
    margin-bottom: var(--font-size-4rem);
    gap: var(--font-size-1rem);
}

.testimonials-main-text {
    height: 300px;
    background-color: lightblue;
    margin-top: var(--font-size-4rem);
}


/* BENEFITS */

#benefits .row {
    gap: var(--font-size-1rem);
    padding-bottom: var(--font-size-4rem);
}

#benefits .card {
    height: 400px;
    background-color: yellow;
    border: 1px solid black;
    border-radius: 20px;
    width: 100%;
}


/* ABOUT US */

#about-us .container {
    gap: 10px;
    padding: var(--font-size-4rem) 0;
}

.column-60, .column-40 {
    width: 100%;
    background-color: orange;
    height: 300px;
    border: 1px solid black;
}

/* GET STARTED */

#get-started .container {
    height: 800px;
}

/* Media Queries */

@media screen and (min-width: 768px) {
    #product-content .column-66 {
        width: calc(100% / 3 * 2 - 5px);
        border: 1px solid black;
    }

    #product-content .column-33 {
        width: calc(100% / 3 - 10px);
        border: 1px solid black;
    }

    #testimonials .column-flex .card {
        display: flex;
    }

    #benefits .card {
        width: calc(50% - 8px);
    }

    #about-us .column-60 {
        width: calc(60% - 5px);
    }

    #about-us .column-40 {
        width: calc(40% - 5px);
    }
}



@media screen and (min-width: 1200px) {
    header .fa-bars {
        display: none;
    }

    header .nav-bar {
        display: block;
    }

    #how-we-do .column-50 {
        width: 50%;
    }

    #benefits .card {
        width: calc(100% / 3 - calc(var(--font-size-1rem) * 2 / 3));
    }

    .container {
        max-width: 1150px;
    }
}