/* Reset */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Properties */

:root {
    --font-size-0-5rem: 0.5rem;
    --font-size-1-5rem: 1.5rem;
    --font-size-2rem: 2rem;
    --font-size-2-5rem: 2.5rem;
    --font-size-3rem: 3rem;
    --font-size-3-5rem: 3.5rem;
    --font-size-4rem: 3.5rem;
}


/* Generic */

body {
    padding-top: 120px;
}

img {
    display: block;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: white;
    font-size: var(--font-size-1-5rem);
}



/* Utilities */

.container {
    max-width: 100%;
}

.flex {
    display: flex;
}

.column-flex {
    display: flex;
    flex-direction: column;
}


/* Header */

header {
    background-color: #0084fd;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    color: white;
}

.fa-bars {
    font-size: var(--font-size-1-5rem);
}

header .container {
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.nav-bar {
    display: none;
}

header ul {
    list-style-type: none;
    display: flex;
}

header .container > * {
    padding: 0 var(--font-size-2rem);
}

.nav-bar li {
    padding: 0 var(--font-size-1-5rem);
}


/* Media Queries */

@media screen and (min-width: 1200px) {
    header .fa-bars {
        display: none;
    }

    header .nav-bar {
        display: block;
    }
}